<div class="addon">
    <div class="addon-wrapper">
      <div class="addon-checkbox-container">
        <label class="checkbox-form-control" for="checkbox-1" aria-label="Checkbox 1">
          <input type="checkbox" name="checkbox-1" id="checkbox-1">
        </label>
      </div>
      <div class="addon-content">
        <span class="addon-title | color-marine-blue fw-500">Online service</span>
        <div class="addon-desc | color-cool-gray">Access to multiplayer games</div>
      </div>
      <div class="addon-price-container">
        <span class="addon-price | color-purplish-blue">+$2/mo</span>
      </div>
    </div>
  </div>

  <div class="addon selected">
    <div class="addon-wrapper">
      <div class="addon-checkbox-container">
        <label class="checkbox-form-control" for="checkbox-1" aria-label="Checkbox 1">
          <input type="checkbox" name="checkbox-1" id="checkbox-1">
        </label>
      </div>
      <div class="addon-content">
        <span class="addon-title | color-marine-blue fw-500">Online service</span>
        <div class="addon-desc | color-cool-gray">Access to multiplayer games</div>
      </div>
      <div class="addon-price-container">
        <span class="addon-price | color-purplish-blue fw-500">+$2/mo</span>
      </div>
    </div>
  </div>