<div class="form-field">
    <label class="color-marine-blue" for="name">Name</label>
    <span class="form-field-error-message | color-strawberry-red fw-700">Name is required</span>
    <input class="color-marine-blue fw-500" type="text" name="name" id="name" required>
</div>

  <div class="form-field form-field-error">
    <label class="color-marine-blue" for="name">Name</label>
    <span class="form-field-error-message | color-strawberry-red fw-700">Name is required</span>
    <input class="color-marine-blue fw-500" type="text" name="name" id="name" required>
  </div>

  <div class="form-field form-field-error">
    <label class="color-marine-blue" for="name">Name</label>
    <span class="form-field-error-message | color-strawberry-red fw-700">Name is required</span>
    <input class="color-marine-blue" placeholder="e.g + 123 456 789" type="text" name="name" id="name" required>
  </div>