<svg class="icon">
    <use xlink:href="/assets/sprites/icon-plans.svg#icon-arcade"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="/assets/sprites/icon-plans.svg#icon-advanced"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="/assets/sprites/icon-plans.svg#icon-pro"></use>
  </svg>

  <svg class="icon">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-thank-you"></use>
  </svg>
  <svg class="icon">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-checkmark"></use>
  </svg>