<button class="plan" aria-label="Arcade">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-arcade"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Arcade</span>
        <span class="plan-price | color-cool-gray">$9/mo</span>
      </div>
    </div>
  </button>

  <button class="plan" aria-label="Advanced">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-advanced"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Advanced</span>
        <span class="plan-price | color-cool-gray">$12/mo</span>
      </div>
    </div>
  </button>

  <button class="plan" aria-label="Pro">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-pro"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Pro</span>
        <span class="plan-price | color-cool-gray">$15/mo</span>
      </div>
    </div>
  </button>

  <!-- Yearly -->

  <button class="plan plan-yearly" aria-label="Arcade">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-arcade"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Arcade</span>
        <span class="plan-price | color-cool-gray">$9/mo</span>
        <span class="plan-free | color-marine-blue">2 months free</span>
      </div>
    </div>
  </button>

  <button class="plan plan-yearly" aria-label="Advanced">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-advanced"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Advanced</span>
        <span class="plan-price | color-cool-gray">$12/mo</span>
        <span class="plan-free | color-marine-blue">2 months free</span>
      </div>
    </div>
  </button>

  <button class="plan plan-yearly" aria-label="Pro">
    <div class="plan-wrapper">
      <div class="plan-icon">
        <svg class="icon">
          <use xlink:href="/assets/sprites/icon-plans.svg#icon-pro"></use>
        </svg>
      </div>
      <div class="plan-content">
        <span class="plan-title | color-marine-blue">Pro</span>
        <span class="plan-price | color-cool-gray">$15/mo</span>
        <span class="plan-free | color-marine-blue">2 months free</span>
      </div>
    </div>
  </button>