<div class="preview">
  <div class="preview-wrapper">
    <div class="preview-header | flex">
      <div class="preview-header-wrapper | flex">
        <span class="preview-title | color-marine-blue fw-700">Arcade (<em class="plan-type">Yearly</em>)</span>
        <button class="change-plan | color-cool-gray">Change</button>
      </div>
      <span class="preview-plan-price | color-marine-blue fw-700">$90/yr</span>
    </div>

    <ul class="preview-list">
      <li class="preview-list__item">
        <span class="list-title | color-cool-gray">Online service</span>
        <span class="list-price | color-marine-blue">+$10/<em class="per-plan-price">yr</em></span>
      </li>
      <li class="preview-list__item">
        <span class="list-title | color-cool-gray">Online service</span>
        <span class="list-price | color-marine-blue">+$10/<em class="per-plan-price">yr</em></span>
      </li>
    </ul>
  </div>

  <div class="preview-total | flex">
    <span class="preview-total-title | color-cool-gray">Total (per <em class="per-plan-type">year</em>)</span>
    <span class="preview-total-price | color-purplish-blue fw-500">+$120/<em class="per-plan-price">yr</em></span>
  </div>
</div>