<div class="stepper">
    <button class="btn | color-white bg-transparent" data-type="stepper">1</button>
    <div class="stepper-content">
      <span class="stepper-number | uppercase color-cool-gray">Step 1</span>
      <span class="stepper-desc | uppercase color-alabaster">your info</span>
    </div>
  </div>

  <div class="stepper">
    <button class="btn | color-white bg-transparent" data-type="stepper">2</button>
    <div class="stepper-content">
      <span class="stepper-number | uppercase color-cool-gray">Step 2</span>
      <span class="stepper-desc | uppercase color-alabaster">select plan</span>
    </div>
  </div>

  <div class="stepper">
    <button class="btn | color-white bg-transparent" data-type="stepper">3</button>
    <div class="stepper-content">
      <span class="stepper-number | uppercase color-cool-gray">Step 3</span>
      <span class="stepper-desc | uppercase color-alabaster">add-ons</span>
    </div>
  </div>

  <div class="stepper">
    <button class="btn | color-white bg-transparent" data-type="stepper">4</button>
    <div class="stepper-content">
      <span class="stepper-number | uppercase color-cool-gray">Step 4</span>
      <span class="stepper-desc | uppercase color-alabaster">summary</span>
    </div>
  </div>