<section class="finish | container">
    <div class="finish-icon">
      <svg class="icon">
        <use xlink:href="/assets/sprites/icon-utilities.svg#icon-thank-you"></use>
      </svg>
    </div>
    <div class="finish-content">
      <span class="finish-title | fw-700 color-marine-blue">Thank you!</span>
      <span class="finish-desc | color-cool-gray">
        Thanks for confirming your subscription! We hope you have fun 
        using our platform. If you ever need support, please feel free 
        to email us at support@loremgaming.com.
      </span>
    </div>
  </section>